# Gelbooru API
GELBOORU_API_KEY=your_gelbooru_api_key_here
GELBOORU_USER_ID=your_gelbooru_user_id_here

# Rule34.xxx API
RULE34_API_KEY=your_rule34_api_key_here
RULE34_USER_ID=your_rule34_user_id_here
